@charset "utf-8";
/* CSS Document */
/*Header (pour toute les pages)*/
p article li {
    font-size: 24px;  
}
h1 {
    font-size: 75px;
    font-family: 'LifeCraft';
}
h2 {
    font-size: 32px;
}
#bannerback{
    position: absolute;
    top: -10px;
    left: -10px;
    width: 1546px;
    height: auto;
    object-fit: fill;
}
#bannerover{
    opacity: 0%;
    width: 478px;
    height: 490px;
    position: absolute;
    top: 177px;
    left: 544px;
}
#navigation{
    width: 478px;
    position: absolute;
    top: 824px;
    right: 0px;
    list-style-type:none;
}
#barcorect{
    top: 849px;
    width: 1500px;
    position: absolute;
    left: -3px;
    height: 24px;
}
#nav1{
    position: absolute;
    top: 895px;
    right: 86px;
    font-size: 35px;
    font-family: 'LifeCraft';
    color:gold;
    text-decoration:none;
    text-align: center;
    width: 312px;
    height: 38px;
}
#nav1 a {
    color:gold;
    text-decoration:none;
}
#nav1:hover {
    color: white;
}
#nav2{
    position: absolute;
    top: 1000px;
    right: 86px;
    font-size: 35px;
    font-family: 'LifeCraft';
    color:gold;
    text-decoration:none;
    text-align: center;
    width: 312px;
    height: 38px;
}
#nav2 a {
    color:gold;
    text-decoration:none;
}
#nav2:hover {
    color: white;
}
#nav3{
    position: absolute;
    top: 1068px;
    right: 86px;
    font-size: 35px;
    font-family: 'LifeCraft';
    color:gold;
    text-decoration:none;
    text-align: center;
    width: 312px;
    height: 38px;
}
#nav3 a {
    color:gold;
    text-decoration:none;
}
#nav3:hover {
    color: white;
}
#nav4{
    position: absolute;
    top: 1138px;
    right: 86px;
    font-size: 35px;
    font-family: 'LifeCraft';
    color:gold;
    text-decoration:none;
    text-align: center;
    width: 312px;
    height: 38px;
}
#nav4 a {
    color:gold;
    text-decoration:none;
}
#nav4:hover {
    color: white;
}
#nav5{
    position: absolute;
    top: 1210px;
    right: 86px;
    font-size: 35px;
    font-family: 'LifeCraft';
   color:gold; 
    text-decoration:none;
    text-align: center;
    width: 312px;
    height: 38px;
}
#nav5 a {
    color:gold;
    text-decoration:none;
}
#nav5:hover {
    color: white;
}
#headblock {
    display: block;
    text-align: center;
    color:gold;
    position: absolute;
    top: 985px;
    right: 600px;
}
#backgroundimage {
    background-image: url("resources/background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
/*Main*/
/*Index*/
#descimg{
    width: 478px;
    height: auto;
    position: absolute;
    top: 1290px;
    left: 85px;
}
#desctitle{
    font-family: 'LifeCraft';
    width: 405px;
    color:#BB0000;
    position: absolute;
    top: 1400px;
    left: 115px;
}
#desctext{
    width: 405px;
    height: 487px;
    position: absolute;
    top: 1447px;
    left: 115px;
    font-size: 35px;
    font-family: 'Times New Roman';
}
#loreimg{
    width: 478px;
    height: auto;
    position: absolute;
    top: 1290px;
    left: 985px;
}
#loretitle{
    font-family: 'LifeCraft';
    width: 405px;
    color:#BB0000;
    position: absolute;
    top: 1400px;
    left: 1015px;
}
#loretext{
    width: 405px;
    height: 487px;
    position: absolute;
    top: 1447px;
    left: 1015px;
    font-size: 35px;
    font-family: 'Times New Roman';
}
#fivi{
    width: 457px;
    height: 224px;
    position: absolute;
    top: 2200px;
    left: 290px;
}
#fivid{
    width: 427px;
    height: 177px;
    position: absolute;
    top: 2241px;
    left: 304px;
}
#bevi{
    width: 457px;
    height: 224px;
    position: absolute;
    top: 2200px;
    left: 745px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#bevid{
    width: 427px;
    height: 177px;
    position: absolute;
    top: 2241px;
    left: 760px;
}
#ipot1{
    width: auto;
    height: 224px;
    position: absolute;
    top: 2200px;
    left: 261px;
}
#ipot2{
    width: auto;
    height: 224px;
    position: absolute;
    top: 2200px;
    left: 1200px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#twitcher{
    width: 250px;
    height: auto;
    position: absolute;
    top: 2530px;
    left: 626px;
}
#naruto {
    display: block;
    text-align: center;
    color:gold;
    position: absolute;
    top: 2610px;
    left: 30px;
    font-family: 'LifeCraft';
    font-size: 32px;
}
#exredba{
    width: 457px;
    height: 224px;
    position: absolute;
    top: 2800px;
    left: 290px;
}
#exred{
    width: 427px;
    height: 177px;
    position: absolute;
    top: 2841px;
    left: 304px;
}
#excliba{
    width: 457px;
    height: 224px;
    position: absolute;
    top: 2800px;
    left: 745px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#excli {
    width: 427px;
    height: 177px;
    position: absolute;
    top: 2841px;
    left: 760px;
}
#ipot3{
    width: auto;
    height: 224px;
    position: absolute;
    top: 2800px;
    left: 261px;
}
#ipot4{
    width: auto;
    height: 224px;
    position: absolute;
    top: 2800px;
    left: 1200px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
/*Best of*/
#music{
    position: absolute;
    top: 1300px;
    left: 570px;
    color:gold;
    font-family: 'LifeCraft';
}
#musicmet1{
    width: 457px;
    height: 224px;
    position: absolute;
    top: 1420px;
    left: 290px;
}
#musicmet2{
    width: 457px;
    height: 224px;
    position: absolute;
    top: 1420px;
    left: 745px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#musicvid1{
    width: 427px;
    height: 177px;
    position: absolute;
    top: 1459px;
    left: 304px;
}
#musicvid2{
    width: 427px;
    height: 177px;
    position: absolute;
    top: 1459px;
    left: 760px;
}
#bpot1{
    width: auto;
    height: 224px;
    position: absolute;
    top: 1420px;
    left: 261px;
}
#bpot2{
    width: auto;
    height: 224px;
    position: absolute;
    top: 1420px;
    left: 1200px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#humour{
    position: absolute;
    top: 1700px;
    left: 570px;
    color:gold;
    font-family: 'LifeCraft';
}
#humourmet1{
    width: 457px;
    height: 224px;
    position: absolute;
    top: 1820px;
    left: 290px;
}
#humourmet2{
    width: 457px;
    height: 224px;
    position: absolute;
    top: 1820px;
    left: 745px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#humourvid1{
    width: 427px;
    height: 177px;
    position: absolute;
    top: 1859px;
    left: 304px;
}
#humourvid2{
    width: 427px;
    height: 177px;
    position: absolute;
    top: 1859px;
    left: 760px;
}
#bpot3{
    width: auto;
    height: 224px;
    position: absolute;
    top: 1820px;
    left: 261px;
}
#bpot4{
    width: auto;
    height: 224px;
    position: absolute;
    top: 1820px;
    left: 1200px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#guide{
    position: absolute;
    top: 2100px;
    left: 570px;
    color:gold;
    font-family: 'LifeCraft';
}
#guidemet1{
    width: 457px;
    height: 224px;
    position: absolute;
    top: 2220px;
    left: 290px;
}
#guidemet2{
    width: 457px;
    height: 224px;
    position: absolute;
    top: 2220px;
    left: 745px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#guidevid1{
    width: 427px;
    height: 177px;
    position: absolute;
    top: 2259px;
    left: 304px;
}
#guidevid2{
    width: 427px;
    height: 177px;
    position: absolute;
    top: 2259px;
    left: 760px;
}
#bpot5{
    width: auto;
    height: 224px;
    position: absolute;
    top: 2220px;
    left: 261px;
}
#bpot6{
    width: auto;
    height: 224px;
    position: absolute;
    top: 2220px;
    left: 1200px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
/*Footer*/
#footover a{
    font-family: 'LifeCraft';
    font-size: 24px;
    text-align: center;
    color:gold;
    text-decoration:none;
}
#footover :hover {
    color: white;
}
/*Index*/
#ifoot{
    position: absolute;
    top: 3110px;
    left: -10px;
    width: 1546px;
    height: auto;
    object-fit: fill;
}
#ifootb1{
    position: absolute;
    top: 3200px;
    left: 35px;
    width: 255px;
    height: auto;
}
#ifootl1{
    position: absolute;
    top: 3200px;
    left: 35px;
    width: 255px;
    height: 24px;
}
#ifootb2{
    position: absolute;
    top: 3200px;
    left: 335px;
    width: 255px;
    height: auto;
}
#ifootl2{
    position: absolute;
    top: 3220px;
    left: 335px;
    width: 255px;
    height: 24px;
}
#ifootb3{
    position: absolute;
    top: 3200px;
    left: 635px;
    width: 255px;
    height: auto;
}
#ifootl3{
    position: absolute;
    top: 3220px;
    left: 635px;
    width: 255px;
    height: 24px;
}
#ifootb4{
    position: absolute;
    top: 3200px;
    left: 935px;
    width: 255px;
    height: auto;
}
#ifootl4{
    position: absolute;
    top: 3220px;
    left: 935px;
    width: 255px;
    height: 24px;
}
#ifootb5{
    position: absolute;
    top: 3200px;
    left: 1235px;
    width: 255px;
    height: auto;
}
#ifootl5{
    position: absolute;
    top: 3220px;
    left: 1235px;
    width: 255px;
    height: 24px;
}
/*Best of*/
#bfoot{
    position: absolute;
    top: 2480px;
    left: -10px;
    width: 1546px;
    height: auto;
    object-fit: fill;
}
#bfootb1{
    position: absolute;
    top: 2570px;
    left: 35px;
    width: 255px;
    height: auto;
}
#bfootl1{
    position: absolute;
    top: 2565px;
    left: 35px;
    width: 255px;
    height: 24px;
}
#bfootb2{
    position: absolute;
    top: 2570px;
    left: 335px;
    width: 255px;
    height: auto;
}
#bfootl2{
    position: absolute;
    top: 2590px;
    left: 335px;
    width: 255px;
    height: 24px;
}
#bfootb3{
    position: absolute;
    top: 2570px;
    left: 635px;
    width: 255px;
    height: auto;
}
#bfootl3{
    position: absolute;
    top: 2590px;
    left: 635px;
    width: 255px;
    height: 24px;
}
#bfootb4{
    position: absolute;
    top: 2570px;
    left: 935px;
    width: 255px;
    height: auto;
}
#bfootl4{
    position: absolute;
    top: 2590px;
    left: 935px;
    width: 255px;
    height: 24px;
}
#bfootb5{
    position: absolute;
    top: 2570px;
    left: 1235px;
    width: 255px;
    height: auto;
}
#bfootl5{
    position: absolute;
    top: 2590px;
    left: 1235px;
    width: 255px;
    height: 24px;
}